nav {
  background-color: #000f38;
  color: #fff;
  width: 100%;
  padding: 4px 0;
  position: fixed;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  cursor: pointer;
}

.container {
  padding-left: 10%;
  padding-right: 10%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px;
  padding: 1rem;
}

.list li {
  display: inline-block;
  list-style: none;
  margin: 5px 20px;
  font-size: 16px;
}

.darkNav {
  background-color: #212ea0;
  transition: 0.5s;
}

.btn {
  background-color: #fff;
  color: #212121;
  padding: 14px 25px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 140px;
  }

  .logo h2 {
    font-size: 1.2rem;
    max-width: 20%;
  }

  nav ul li {
    margin: 10px 15px;
  }
}

@media screen and (max-width: 768px) {
  nav {
    padding: 15px 0;
  }

  nav ul {
    position: fixed;
    top: 0;
    right: -200px;
    bottom: 0;
    background-color: #000f38;
    z-index: -1;
    width: 200px;
    padding-top: 70px;
    transition: 0.5s;
    text-align: center;
  }

  .active {
    right: 0;
  }

  .list li {
    display: block;
    margin: 25px 40px;
  }

  .container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .btn {
    padding: 14px 16px;
  }
  .menu {
    display: block;
    width: 30px;
    display: block;
    cursor: pointer;
  }
}
